{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
<div class="card mb-3">
  <img src="{{ object.rasmi.url }}" class="card-img-top" alt="Wild Landscape"/>
  <div class="card-body">
    <h5 class="card-title">{{ object.sarlavhasi }}</h5>
    <p class="card-text"> {{ object.matni }}  </p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div>

</body>
</html>

{% endblock content %}