{% extends 'base.html' %}

{% block content %}

<div class="card-deck">
  {% for i in object_list %}
  <div class="card">
    <img class="card-img-top" src="{{i.rasmi.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'detail' i.pk %}">{{i.sarlavhasi}}</a></h5>
      <p class="card-text">{{i.tasnifi}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ i.vaqti | time:'H:i' }}/{{ i.vaqti | date:'d.m.y' }}</small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}	
