{% extends 'base.html' %}

{% block content %}

<div class="card-deck">
  {% for i in mahsulotlar %}
  <div class="card">
    <img class="card-img-top" src="https://tesla-cdn.thron.com/delivery/public/image/tesla/5a7b3001-249f-4065-a330-4ea6a17ccf7b/bvlatuR/std/2560x1708/Model-3-Main-Hero-Desktop-LHD" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="">{{i.sarlavhasi}}</a></h5>
      <p class="card-text">{{i.tasnifi}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}	
